.site-title {
    flex: 1;
    text-align: center;
    font-style: italic;

    @include lg-and-up {
        flex: initial;
    }
}

.mainnav {
    background-color: rgba($color: $body-fg, $alpha: 0.95);
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    padding-bottom: 2*$baseline;

    @include lg-and-up {
        position: relative;
        padding-bottom: 0;
        background-color: transparent;
    }
}

.nav-link {
    color: #CED1E5;
    text-decoration: none;
    padding: 0.25*$baseline 0.5*$baseline;


    &:hover {
        color: #fff;
    }

    @include lg-and-up {
        color: #747582;

        &:hover {
            color: #282C4B;
        }

        & + & {
            margin-left: 3.75rem;
        }
    }
}

.nav-talk {
    text-align: center;
    color: $accent-bg;
    font-weight: $bold;

    @include lg-and-up {
        border: 2px solid rgba($color: $accent-bg, $alpha: 0.5);
        width: 143px;
        height: 55px;
        border-radius: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #282C4B;
        font-size: 14px;
    }
}
