.dark-bg {
    background-color: $dark-bg;
    color: $dark-fg;
}

.box-shadow {
    --box-shadow-color: rgba(121, 121, 121, 0.05);
    box-shadow: -40px 100px 70px var(--box-shadow-color);
    background-color: white;
    position: relative;

    &::after {
        content: "";
        box-shadow: 40px 0 70px var(--box-shadow-color);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}


.flex-wrap {
    flex-wrap: wrap;
}

// .wrap-center {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
// }
