.dark-bg {
    background-color: $dark-bg;
    color: $dark-fg;
}

.box-shadow {
    --box-shadow-color: rgba(121, 121, 121, 0.05);
    box-shadow: -40px 100px 70px var(--box-shadow-color);
    background-color: white;
    position: relative;

    &::after {
        content: "";
        box-shadow: 40px 0 70px var(--box-shadow-color);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}


.flex-wrap {
    flex-wrap: wrap;
}

.service {
    & + & {
        margin-top: $baseline;

        @include md-and-up {
            margin-top: 0;
        }
    }

    width: 100%;
    padding: $baseline;

    @include md-and-up {
        max-width: 50%;
    }

    @include lg-and-up {
        max-width: 33%;
    }
}

.project {
    max-width: 370px;
    margin-top: $baseline;
    padding: 0.5*$baseline;
}
