.top-section-bg {
    background: linear-gradient(0deg, #FEFAFC 0, #fff 100%);
}

.hero-title {
    color: #282C4B;
    font-weight: $bold;
    font-size: $h2-size;

    @include sm-and-up{
        font-size: $h1-size;
    }

    @include lg-and-up{
        font-size: 58px;
        line-height: 80px;
        letter-spacing: 0.02em;
    }
}

.hero-title-sign {
        position: relative;

        &::after{
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            border-top: 2px solid $primary-bg;
            border-radius: 50%;
            bottom: -15px;
            height: 15px;

            @include sm-and-up {
                bottom: -25px;
                height: 25px;
            }

            @include lg-and-up {
                border-top: 4px solid $primary-bg;
                bottom: -45px;
                height: 45px;
            }
        }
}

.text-desc{
    color: #747582;

    font-size: 20px;
    line-height: 36px;
}
