.top-section-bg {
    background: linear-gradient(0deg, #FEFAFC 0, #fff 100%);
}

.hero-title {
    color: #282C4B;
    font-weight: $bold;
    font-size: $h3-size;

    @include sm-and-up{
        font-size: $h1-size;
    }

    @include md-and-up{
        font-size: 58px;
        line-height: 80px;
        letter-spacing: 0.02em;
    }
}

.hero-title-sign {
    @include md-and-up {
        position: relative;

        &::after{
            content: "";
            position: absolute;
            border-top: 4px solid $primary-bg;
            border-radius: 50%;
            bottom: -30px;
            left: 0;
            width: 100%;
            height: 35px;
        }
    }
}

.hero-desc {
    color: #747582;

    @include md-and-up{
        font-size: 20px;
        line-height: 36px;
    }
}
