<div class="grid py-2">
  <div class="c-4">
    <p class="text-accent">SERVICE</p>
    <h2 class="h1 py-1">Our Capabilities</h2>
    <p class="text-desc">We will bring the breathe of our experience and industry knowledge to help you succeed</p>
    <div class="text-right mt-1">{% include "../icons/arrow.svg" %}</div>
  </div>
  <div class="grid c-8 pt-1">
    <div class="c-4">
      <div>{% include "../icons/shop.svg" %}</div>
      <h3 class="my-1">Market Forcest</h3>
      <p>Leverage agile framework to provide a robust high level synopsys overviews</p>
    </div>
    <div class="c-4">
      <div>{% include "../icons/cards.svg" %}</div>
      <h3 class="my-1">Fund Raising</h3>
      <p>Bring to the table survival strategies to ensure proactive domination</p>
    </div>
    <div class="c-4" style="background-color: white;">
      <div>{% include "../icons/cash-flow.svg" %}</div>
      <h3 class="my-1">Cash Flow</h3>
      <p>Grow the holistic world view of disruptive innovation workspace</p>
    </div>
  </div>
</div>
