<div class="grid py-2 px-1">
  <div class="lg:c-4">
    <p class="text-accent">SERVICE</p>
    <h2 class="h1">Our Capabilities</h2>
    <p class="text-desc mt-0.5">We will bring the breathe of our experience and industry knowledge to help you succeed</p>
    <div class="d-none lg:d-block text-right">{% include "../icons/arrow.svg" %}</div>
  </div>
  <div class="grid lg:c-8 mt-2">
    <div class="md:c-4">
      <div>{% include "../icons/shop.svg" %}</div>
      <h3>Market Forcest</h3>
      <p class="mt-0.5">Leverage agile framework to provide a robust high level synopsys overviews</p>
    </div>
    <div class="md:c-4 mt-2 md:mt-0">
      <div>{% include "../icons/cards.svg" %}</div>
      <h3>Fund Raising</h3>
      <p class="mt-0.5">Bring to the table survival strategies to ensure proactive domination</p>
    </div>
    <div class="md:c-4 mt-2 md:mt-0">
      <div>{% include "../icons/cash-flow.svg" %}</div>
      <h3>Cash Flow</h3>
      <p class="mt-0.5">Grow the holistic world view of disruptive innovation workspace</p>
    </div>
  </div>
</div>
