<section class="d-flex justify-content-evenly flex-wrap py-1 px-1">
  <div class="p-0.5 m-0.25">
    {% include "../icons/slack.svg" %}
  </div>
  <div class="p-0.5 m-0.25">
    {% include "../icons/prudential.svg" %}
  </div>
  <div class="box-shadow p-0.5 m-0.25">
    {% include "../icons/microsoft.svg" %}
  </div>
  <div class="p-0.5 m-0.25">
    {% include "../icons/zoover.svg" %}
  </div>
</section>
