<section class="client py-1 px-1">
  <div class="client-item">
    {% include "../icons/slack.svg" %}
  </div>
  <div class="client-item">
    {% include "../icons/prudential.svg" %}
  </div>
  <div class="client-item box-shadow">
    {% include "../icons/microsoft.svg" %}
  </div>
  <div class="client-item">
    {% include "../icons/zoover.svg" %}
  </div>
</section>
