<section class="boxed grid py-3 px-1 align-items-center">
  <div class="d-none md:d-block md:c-6">
    <img src="assets/contact.png" class="img-fluid" alt="" width="584">
  </div>
  <div class="md:c-6">
    <p class="text-accent">CONTACT US</p>
    <h2 class="h1">Let’s Collaborate Now!</h2>
    <form action="" method="POST" class="form-horizontal mt-2">
      <div>
        <label for="fullname" class="mb-0.25">Full Name</label>
        <input type="text" id="fullname" placeholder="Input Your Name">
      </div>

      <div class="grid mt-1">
        <div class="c-6 pr-0.5">
          <label for="email" class="mb-0.25">Email</label>
          <input type="text" id="email" placeholder="Input Your Email">
        </div>
        <div class="c-6 pl-0.5">
          <label for="date" class="mb-0.25">Date</label>
          <input type="date" id="date" placeholder="Select Date">
        </div>
      </div>

      <div class="mt-1">
        <label for="message" class="mb-0.25">Message</label>
        <textarea name="message" id="" cols="30" rows="10" placeholder="Write Message" style="resize: none;"></textarea>
      </div>

      <div class="mt-1">
        <button type="submit" class="btn primary rounded shadow">Send Message</button>
      </div>
    </form>
  </div>
</section>
