<section class="d-flex justify-content-between align-items-center">
  <div class="hero-left">
    <p class="hero-verify d-flex align-items-center">
      {% include "../icons/verify.twig" %}
      <span class="ml-0.25">Best Business Platform - World Record 2021</span>
    </p>

    <div class="hero-title my-0.5">
      Reach Your <span class="hero-title-sign">Business</span><br />Goals in Record Time
    </div>

    <p class="hero-desc">
      Support small business and join the nationwide movement to encourage commercial support for the millions of minority owned businesses helping world economy.
    </p>

    <div class="mt-4 d-flex align-items-center">
      <a href="#" class="btn rounded accent">Get Started</a>
      <a href="#" class="btn ml-1 align-items-center">
        {% include "../icons/video-circle.twig" %}
        <span class="ml-0.25">Watch Video</span>
      </a>
    </div>
  </div>
  <img src="assets/hero.png" alt="" width="616">
</section>
