<section class="grid lg:align-items-center py-0">
  <div class="c-12 lg:c-6 py-2">
    <p class="d-flex align-items-center">
      {% include "../icons/verify.svg" %}
      <span class="ml-0.25 text-accent">Best Business Platform - World Record 2021</span>
    </p>
    <div class="hero-title my-0.5">
      Reach Your <span class="hero-title-sign">Business</span><br />Goals in Record Time
    </div>
    <p class="text-desc">
      Support small business and join the nationwide movement to encourage commercial support for the millions of minority owned businesses helping world economy.
    </p>
    <div class="mt-4 d-flex flex-column md:flex-row align-items-center">
      <a href="#" class="btn rounded primary">Get Started</a>
      <a href="#" class="btn align-items-center mt-2 md:mt-0 md:ml-1 ">
        {% include "../icons/video-circle.svg" %}
        <span class="ml-0.25">Watch Video</span>
      </a>
    </div>
  </div>
  <div class="c-12 lg:c-6 lg:order-0 text-center lg:text-right">
    <img src="assets/hero.png" class="img-fluid" alt="" width="616">
  </div>
</section>
