<section class="grid py-1 px-1">
  <div class="sm:c-6 md:c-3 d-flex align-items-center justify-content-center py-1">
    {% include "../icons/slack.svg" %}
  </div>
  <div class="sm:c-6 md:c-3 d-flex align-items-center justify-content-center">
    {% include "../icons/prudential.svg" %}
  </div>
  <div class="sm:c-6 md:c-3 d-flex align-items-center justify-content-center py-1">
    {% include "../icons/microsoft.svg" %}
  </div>
  <div class="sm:c-6 md:c-3 d-flex align-items-center justify-content-center">
    {% include "../icons/zoover.svg" %}
  </div>
</section>
