<section class="grid boxed py-2 px-1">
  <div class="md:c-6 lg:c-4">
    <section class="text-center my-1">
      <img src="assets/cosmetic.png" alt="" width="346" class="img-fluid">
      <h4 class="mt-0.5">Cosmetic Forcest Marketing</h4>
    </section>
  </div>
  <div class="md:c-6 lg:c-4">
    <section class="text-center my-1">
      <img src="assets/analytic.png" alt="" width="346" class="img-fluid">
      <h4 class="mt-0.5">Sales Analytic</h4>
    </section>
  </div>
  <div class="md:c-6 lg:c-4">
    <section class="text-center my-1">
      <img src="assets/fashion.png" alt="" width="346" class="img-fluid">
      <h4 class="mt-0.5">Fashion Store Mobile Apps</h4>
    </section>
  </div>
  <div class="md:c-6 lg:c-4">
    <section class="text-center my-1">
      <img src="assets/laura.png" alt="" width="346" class="img-fluid">
      <h4 class="mt-0.5">Laura's Clore Branding Identity</h4>
    </section>
  </div>
  <div class="md:c-6 lg:c-4">
    <section class="text-center my-1">
      <img src="assets/seo.png" alt="" width="346" class="img-fluid">
      <h4 class="mt-0.5">SEO Marketing</h4>
    </section>
  </div>
  <div class="md:c-6 lg:c-4 d-flex justify-content-center">
    <div class="my-1" style="max-width: 346px;">
      <p class="text-accent">PROJECTS</p>
      <h2 class="h1">Selected Works from Us</h2>
      <a href="#" class="btn outline mt-1">See More</a>
    </div>
  </div>
</section>
