<section class="boxed py-2 px-1">
  <div class="d-flex justify-content-evenly flex-wrap">
    <section class="project box-shadow">
      <img src="assets/cosmetic.png" alt="" width="346" class="img-fluid">
      <h4 class="mt-0.5 text-center">Cosmetic Forcest Marketing</h4>
    </section>
    <section class="project">
      <img src="assets/analytic.png" alt="" width="346" class="img-fluid">
      <h4 class="mt-0.5 text-center">Sales Analytic</h4>
    </section>
    <section class="project">
      <img src="assets/fashion.png" alt="" width="346" class="img-fluid">
      <h4 class="mt-0.5 text-center">Fashion Store Mobile Apps</h4>
    </section>
    <section class="project">
      <img src="assets/laura.png" alt="" width="346" class="img-fluid">
      <h4 class="mt-0.5 text-center">Laura's Clore Branding Identity</h4>
    </section>
    <section class="project">
      <img src="assets/seo.png" alt="" width="346" class="img-fluid">
      <h4 class="mt-0.5 text-center">SEO Marketing</h4>
    </section>
    <section class="project">
      <p class="text-accent">PROJECTS</p>
      <h2 class="h1">Selected Works from Us</h2>
      <a href="#" class="btn outline mt-1">See More</a>
    </section>
  </div>
</section>
