<div class="testimony-gradient">
  <section class="boxed pt-2 px-0.5">
    <p class="text-accent mb-0.5">TESTIMONIAL</p>
    <h2 class="h1">What Our<br />Customer’s Say</h2>

    <div class="testimony-bg mt-2">
      <div class="testimony-box">
        <div class="box-shadow px-0.5 py-1 md:p-1">
          {% include "../icons/quote.svg" %}
          <p class="text-desc my-1">
            I really like the team for example, a relationship-focused performance expectation might be that the employee sustain collegial working relationships with her peers, subordinates and customers.
          </p>
          <div class="d-flex align-items-center">
            <img src="assets/avatar.png" alt="" width="64">
            <span class="h3 ml-0.5" style="font-weight: 700;">Gloria Jessica</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
