<div class="boxed main-footer p-1">
  <div class="copyright text-white">
    <p class="h3 footer-brand">PEBISNIS <span class="text-white">ULUNG</span>.</p>
    <p>&copy; Copyright Pebisnis Ulung. All right reserved</p>
  </div>
  <nav>
    <a href="#" class="footer-nav-item">Privacy Policy</a>
    <a href="#" class="footer-nav-item">Terms</a>
    <a href="#" class="footer-nav-item">Get in Touch</a>
  </nav>
  <div class="d-inline-flex">
    <a href="#" class="social-icon">{% include "../icons/facebook.svg" %}</a>
    <a href="#" class="social-icon">{% include "../icons/linkedin.svg" %}</a>
    <a href="#" class="social-icon">{% include "../icons/instagram.svg" %}</a>
  </div>
</div>
