<header class="lg:expand-nav d-flex flex-column lg:flex-row justify-content-between lg:align-items-center lg:py-1">
  <div class="d-flex align-items-center justify-content-between">
    <h1 class="h2 site-title">
      <a href="index.html">
        <span class="text-primary">PEBISNIS</span> ULUNG<span class="text-primary">.</span>
      </a>
    </h1>
    <label for="navcheck" class="bar-icon px-0.25 md:px-1"></label>
  </div>
  <input type="checkbox" id="navcheck">
  <div class="navbar-toggle">
    <nav class="mainnav d-flex flex-column lg:flex-row lg:align-items-center">
      <a href="#" class="nav-link">Services</a>
      <a href="#" class="nav-link">Resources</a>
      <a href="#" class="nav-link">Company</a>
      <a href="#" class="nav-link">Blog</a>
      <a href="#" class="nav-link">Contact Us</a>
      <div class="nav-talk">
        <a href="#" class="btn outline">Let's Talk</a>
      </div>
    </nav>
  </div>
</header>
